@youha-info:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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 # 패키지 다운로드를 위한 Personal access token, 90일 후 2023년 1월 25일에 만료

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=2CDBB7F1-15FC-4C6C-B505-5303DF0831A5